:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-bg-color: #1a1a1d;
    --hilight-color: #c3073f;
    --main-text-color: white;
    --button-color: #4e4e50;
}

li {
    list-style: none;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.content {
    display: grid;
    grid-template-columns: 250px 5fr;
    grid-template-rows: 250px 5fr;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Lobster', cursive;
    border-bottom: 2px solid var(--hilight-color);
    font-size: 35px;
}

.tabs {
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid var(--hilight-color);
    border-right: 1px solid var(--hilight-color);
    border-top: 1px solid var(--hilight-color);
    font-size: medium;
}

.tab-hilight {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid var(--hilight-color);
    border-right: 1px solid var(--hilight-color);
    border-top: 1px solid var(--hilight-color);
    font-size: medium;
    background-color: rgba(162, 162, 162, 0.2);
    box-shadow: 2px 2px 5px lightgray;
}

.tab:hover {
    cursor: pointer;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: fit-content(100px);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-top: 2px solid var(--hilight-color);
    border-right: 2px solid var(--hilight-color);
}

.sidebar-right {
    grid-column: 2 / 3;
}

.sidebar-right + p {
    font-size: larger;
    width: 500px;
}

.welcome {
    font-size: larger;
    width: 35vw;
}

#days-list {
    list-style: none;
}

.days-list-item {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.days-list-item:hover {
    font-size: 31px;
    transition: 0.3s;
}

button {
    height: 75px;
    font-size: 25px;
    margin: 35px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px;
}

input {
    margin: 15px;
    font-size: 25px;
}

label {
    font-size: 25px;
}

select {
    margin: 15px;
    font-size: 25px;
}

.practice-title {
    margin-bottom: 30px;
}

.practice-list-item {
    font-style: italic;
    margin-left: 35px;
    font-size: 25px;
}

.goal-card {
    margin-top: 25px;
    margin-right: 500px;
    padding: 25px;    
    border: 1px solid #c3073f;
    border-radius: 10px;
    background-color: #232323;
    width: fit-content;
    height: fit-content;
}

.ls-goal-card {
    margin-top: 25px;
    margin-right: 50px;
    padding: 25px;
    border: 1px solid #c3073f;
    border-radius: 10px;
    background-color: #232323;
    width: fit-content;
    height: fit-content;
    
}

.practice-greeting {
    font-size: 40px;
    margin: 15px;
}

.goals-div {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.daily-goal-completed {
    margin-top: 25px;
    margin-right: 500px;
    padding: 25px;    
    border: 1px solid #c3073f;
    border-radius: 10px;
    background-color: #3f3f7a;
    width: fit-content;
    height: fit-content;
}

.goal {
    width: fit-content;
    border: 1px solid #c3073f;
    border-radius: 10px;
    padding: 5px;
    background-color: #4e4e50;
    align-self:flex-start;
    margin-top: 10px;
}

.icon {
    height: 25px;
    justify-self: right;
}